.main-content {
	width: 650px;
	float: right;
}
.myworks {
	background-color: #eff3f7;
	border-radius: 4px;
	margin-bottom: 38px;
	min-height: 840px;
}
.myworks-title {
	font-size: 27px;
	display: inline-block;
	color: #3ba8c0;
	border-bottom: 2px solid #3ba8c0;
	padding: 12px 25px;
	margin: 0px;
	margin-bottom: 27px;
}
.myworks-body {
	padding: 0;
	margin: 0;
	margin-left: 19px;
}
.myworks-item {
	vertical-align: top;
	position: relative;
	display: inline-block;
	width: 185px;
	margin-left: 25px;
	margin-bottom: 40px;
}
.myworks-item-preview {
	height: 127px;
	border: 2px solid #3ba8c0;
	border-radius: 4px;
	overflow: hidden;
	margin-bottom: 5px;
}
.myworks-item:nth-child(3n+1) {
	margin-left: 0;
}
.myworks-item.add {
	cursor: pointer;
	width: 183px;
	height: 129px;
	border: 1px dashed #3ba8c0;
	border-radius: 4px;
	background-color: rgba(236,251,255,.64);
	background-image: url(../img/add_project.png);
	background-position: center 35px;
	background-repeat: no-repeat;
	-webkit-transition: background-position .2s ease-in-out, font-weight .2s ease-in-out;
	-o-transition: background-position .2s ease-in-out, font-weight .2s ease-in-out;
	-moz-transition: background-position .2s ease-in-out, font-weight .2s ease-in-out;
	-ms-transition: background-position .2s ease-in-out, font-weight .2s ease-in-out;
	transition: background-position .2s ease-in-out, font-weight .2s ease-in-out;
}
.myworks-item.add:hover {
	background-position: center 45px;
	font-weight: bolder;
}
.myworks-item.add:active {
	background-color: rgba(1,108,164, .75);
}
.myworks-item.add-title {
	position: absolute;
	top: 80px;
	left: 41px;
	font-family: 'fira_sanslight';
	font-size: 13px;
	color: #3ba8c0;
}
.hover-title {
	display: block;
	position: absolute;
	top: 55px;
	left: 55px;
	border: 2px solid #eff3f7;
	border-radius: 4px;
	padding: 0 8px 0 8px;
	color: #eff3f7;
	font-size: 12px;
	opacity: 0;
	-webkit-transition: opacity .2s .1s ease-in-out;
	-o-transition: opacity .2s .1s ease-in-out;
	-moz-transition: opacity .2s .1s ease-in-out;
	-ms-transition: opacity .2s .1s ease-in-out;
	transition: opacity .2s .1s ease-in-out;
}
.myworks-item-link:hover .hover-title {
	opacity: 1;
}
.myworks-item-link {
	display: block;
	height:  100%;
}
.myworks-item-link:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 131px;
	border-radius: 4px;
	background-color: rgba(1,108,164, 0);
	-webkit-transition: background-color .2s ease-in-out;
	-o-transition: background-color .2s ease-in-out;
	-moz-transition: background-color .2s ease-in-out;
	-ms-transition:	 background-color .2s ease-in-out;
	transition:	 background-color .2s ease-in-out;
}
.myworks-item-link:hover:before {
	background-color: rgba(1,108,164, .75);
}
.myworks-item-title {
	font-family: 'fira_sanslight_italic';
	font-size: 13px;
	color: #3ba8c0;
	text-align: center;
	margin-bottom: 4px;
}
.myworks-item-description {
	font-family: 'fira_sanslight';
	font-size: 15px;
	color: #4a545d;
	text-align: center;
	line-height: 1.35;
}
/*POPUP*/
.body-darken:after {
	content: "";
	display: block;
	z-index: 10;
	position: fixed;
	top: 0px;
	left: 0px;
	background-color: #58697a;
	opacity: 0.75;
	width: 100%;
	height: 100%;
}
.modal-window {
	display: block;
	position: fixed;
	overflow: hidden;
	z-index: 20;
	top: 10%;
	left: 40%;
	width: 360px;
	min-height: 490px;
	border-radius: 4px/7px;
	background-color: #eff3f7;
	box-shadow: 0 6px 12px 1px rgba(13,16,7,.35);
}
.modal-window-header {
	background-color: #48cbe8;
	border-bottom: 9px solid #67dffa;
	margin-bottom: 4px;
}
.modal-window-title {
	margin: 0;
	float: left;
	font-family: 'fira_sansregular';
	font-size: 25px;
	color: #fff;
	line-height: 44px;
	text-indent: 13px;
}
.modal-window-btn-close {
	float: right;
	width: 30px;
	height: 30px;
	margin-top: 3px;
	margin-right: 3px;
	font-size: 0;
	background: url(../img/btn-close.png) no-repeat 0px 5px;
}
.modal-window-form {
	margin: 0 auto;
	width: 320px;;
}

.modal-window-label {
	font-size: 17px;
	color: #959aa8;
}
.form-row {
	margin-bottom: 6px;
}
.modal-window-input {
	width: 100%;
	border: 1px solid #48cbe8;
	border-radius: 4px;
	outline: none;
	background-color: #fbfcfd;
	font-family: 'fira_sanslight';
	font-size: 13px;
	color:#48cbe8;
	text-indent: 9px;
	height: 39px;
	line-height: 39px;
}
.file-upload-btn {
  position: relative;
  overflow: hidden;
  border-radius: 0 4px 4px 0;
  font-size: 0;
  width: 52px;
  height: 41px;
  background: #48cbe8 url(../img/btn-file-upload.png) no-repeat 10px 8px;
}
.file-upload-btn #project-image {
  cursor: pointer;
  display: block;
  font-size: 999px;
  filter: progid:DXImageTransform.Microsoft.Alpha (opacity=0);
  min-height: 100%;
  min-width: 100%;
  opacity: 0;
  position: absolute;
  right: 0;
  text-align: right;
  top: 0;
}
.modal-window-input.file {
	height: 37px;
	float: left;
	width: 266px;
	border-radius: 4px 0 0 4px;
}
.modal-window-textarea {
	width: 317px;
	height: 109px;
	resize: none;
	outline: none;
	border: 1px solid #48cbe8;
	border-radius: 4px;
	background-color: #fbfcfd;
	font-family: 'fira_sanslight';
	font-size: 13px;
	color:#48cbe8;
	text-indent: 9px;
}
.btn-row {
	text-align: center;
}
.modal-window-btn-submit {
	padding: 0 30px 0 30px;
	height: 32px;
	font-size: 19px;
	color: #f6f6f6;
	border: none;
	outline: none;
	border-radius: 8px;
	background-color: #48cbe8;
	border-bottom: 3px solid #3ba8c0;
}
.modal-window-btn-submit:hover {
	border-bottom: none;
}
.modal-window-btn-submit:active {
	border-top: 3px solid #3ba8c0;
}
/*IE8*/
html.lt-ie9 #modal-window-input-file {
	width: 263px;
}
html.lt-ie9 #project-image {
	font-size: 0;
}
html.lt-ie9 .myworks-item.add:hover {
	background-position: center 45px;
	font-weight: normal;
}
html.lt-ie9 .myworks-item.add:active {
	background-color: none;
}
html.lt-ie9 .myworks-item.add-title {
	left: 20px;
}
html.lt-ie9 .main-content {
	width: 700px !important;
}